.icon {
  color: #4dc38c;
  font-size: 25px;
}

.input-wide {
  width: 710px;
}

.icon-search {
  color: #4dc38c;
  font-size: 18px;
}

.icon:hover {
  scale: 1.2;
}

.container .title-product {
  border: 18px solid #4dc38c;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.btn-outline-success:hover {
  background-color: #4dc38c;
  color: white;
}

.btn-outline-success {
  border-color: #4dc38c;
}

.card-body .card-text {
  color: #4dc38c;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.prev-icon,
.next-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: #4dc38c;
}

.prev-icon i,
.next-icon i {
  font-size: 2rem;
}

.whist,
.whist-text {
  color: #4dc38c;
}

@media (max-width: 767px) {
  .row.justify-content-center {
    justify-content: flex-start;
  }

  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card {
    width: calc(100% - 20px);
    max-width: 200px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .carousel-item .row.justify-content-center > .col-md-3 {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .carousel-item .row.justify-content-center > .col-md-3:last-child {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .icon {
    display: none;
  }
  .nav-link {
    display: block;
  }
}
@media (min-width: 992px) {
  .nav-link.d-lg-none {
    display: none;
  }
}
